<div class="container-fluid">
  <div class="row" style="background-color: white">
    <div class="col-12 mt-3 py-3">
      <form [formGroup]="todoForm" class="mx-3">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New task</mat-label>
          <input
            matInput
            formControlName="taskName"
            placeholder="add a task name"
          />
        </mat-form-field>
        <button
          (click)="onSubmit()"
          mat-raised-button
          [disabled]="todoForm.invalid"
          color="primary"
        >
          Add Item
        </button>
        <button
          *ngIf="isEditEnable"
          (click)="updateTodoTask()"
          mat-raised-button
          [disabled]="todoForm.invalid"
          color="primary"
        >
          Update Item
        </button>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <div class="todo-container">
              <h2>To do</h2>
              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="todo-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="todo-box"
                  *ngFor="let item of todo; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteTodoTask(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="onEdit(item, i)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="todo-container">
              <h2>In Progress</h2>
              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="inprogress"
                [cdkDropListConnectedTo]="[todoList]"
                class="todo-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="todo-box"
                  *ngFor="let item of inprogress; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteInProgressTask(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="todo-container">
              <h2>Done</h2>
              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="todo-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="todo-box"
                  *ngFor="let item of done; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="deleteDoneTask(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="item.done" mat-icon-button color="primary">
                    <mat-icon>check_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
